---
import slug from "slug";
import Layout from "../../../layouts/Layout.astro"
import { PersonnesProfessionOptions, type PersonnesResponse } from "../../../pocketbase-types";
import { formatDate } from "../../../utilitaires";
import { Debug } from "astro:components";
const { id } = Astro.params ;
let message = null
let personne = {} as PersonnesResponse ;
if (id) {
    personne = await Astro.locals.pb.collection("Personnes").getOne(id)
}
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const personneCree = await (id
            ?(Astro.locals.pb.collection("Personnes").update(id!, data))
            :(Astro.locals.pb.collection("Personnes").create(data))
        )
        .catch(err => {
            console.error("Erreur de sauvegarde de la personne : ", err);
            message = err.message ;
            return null
        })
    ;
    if (personneCree) {
        return Astro.redirect(`/personne/${personneCree.id}-${slug(personneCree.nom ?? "Inconnu")}`)
    }
}
---

<Layout>
    <h1>Ajouter une personne</h1>
    {message && <p class="text-red-500">{message}</p>}
    <form method="post">

        { id && <input type="hidden" name="id" value={id}> }

        <input type="hidden" name="user" value={Astro.locals.pb.authStore.record?.id}>

        <label class="block">
                <span class="text-gray-700">Nom :</span>
                <input name="nom" value={personne.nom} type="text" class="mt-1 block w-full" placeholder="">
        </label>

        <label class="block">
                <span class="text-gray-700">Prénom :</span>
                <input name="prenom" value={personne.prenom} type="text" class="mt-1 block w-full" placeholder="">
        </label>

        <label class="block">
                <span class="text-gray-700">Date de naissance :</span>
                <input name="date_de_naissance" value={formatDate(personne.naissance)} type="date" class="mt-1 block w-full" placeholder="">
        </label>

        <label class="block">
                <span class="text-gray-700">Date de décès :</span>
                <input name="date_de_deces" value={formatDate(personne.mort)} type="date" class="mt-1 block w-full" placeholder="">
        </label>

       <fieldset>
        <legend>Profession : </legend>
           {
                Object.entries(PersonnesProfessionOptions).map(([key, value]) =>
                    <label>
                        <input type="checkbox" name="profession" value={value}
                        checked={personne.profession?.includes(value)}
                        />
                        {key}
                    </label>
                )
            }
       </fieldset>

        {/* <label class="block">
                <span class="text-gray-700">Image de la personne :</span>
                <input name="profession" type="" class="mt-1 block w-full" placeholder="">
        </label> */}

        <button>
            { id ? "Mettre à jour" : "Ajouter" }
        </button>

    </form>
</Layout>